@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fffdfd;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    width: 100%;
}

.bg-primary {
    background-color: #FF623F!important;
}

a {
    text-decoration: none!important;
}

.navbar-image {
    width: 200px;
}

.language-button {
    border: 0;
    background-color: transparent;
}

.language-flag {
    max-height: 22px;
    margin-right: 10px;
    align-items: center;
}

.text-heading {
    font-weight: 500;
}

.bold-heading {
    font-weight: 600;
}

.btn-blue {
    background-color: #005f86;
    border-color: #005f86;
    color: #fff;
}

.btn-blue:hover {
    background-color: #004d6d;
    color: #fff;
}

.dropdown {
    color: #343a40!important;
    cursor: pointer;
}

.dropdown:hover {
    color: #343a40!important
}

.nav-item {
    color: #606060;
    font-weight: 500!important;
}

.nav-item:hover {
    color: #090909;
}

.nav-active {
    color: #F2A900;
}

.nav-active:hover {
    color: #F2A900;
}

.business-icon {
    width: 28px;
    height: 28px;
}

.contact a {
    color: #000;
}

.contact a:hover {
    color: #F2A900;
}

.product-heading {
    font-weight: 600;
    margin-bottom: 15px;
}

.btn-orange {
    background-color: #F2A900;
    border-color:#F2A900;
    color: #fff;
}

.btn-orange:hover {
    background-color: #F2A900;
    border-color:#F2A900;
    color: #fff;
}

.button-icon {
    margin-top: -2px;
    height: 22px;
    width: 22px;
}

.section-margin {
    padding-top: 125px;
}

@media only screen and (min-width : 320px) {
    .landing-hero {
        padding-top: 130px;
    }
}

@media only screen and (min-width : 992px) {
    .landing-hero {
        padding-top: 112px;
    }
}

@media only screen and (min-width : 320px) {
    .products-hero {
        padding-top: 195px;
    }
}

@media only screen and (min-width : 992px) {
    .products-hero {
        padding-top: 150px;
    }
}

@media only screen and (min-width : 320px) {
    .contact-hero {
        padding-top: 195px;
    }
}

@media only screen and (min-width : 992px) {
    .contact-hero {
        padding-top: 150px;
    }
}

@media only screen and (min-width : 320px) {
    .pricing-hero {
        padding-top: 200px;
    }
}

@media only screen and (min-width : 992px) {
    .pricing-hero {
        padding-top: 150px;
    }
}

.bg-primary {
    background-color: #FF623F!important;
}

a {
    text-decoration: none!important;
}

.navbar-image {
    width: 200px;
}

.language-button {
    border: 0;
    background-color: transparent;
}

.language-flag {
    max-height: 22px;
    margin-right: 10px;
    align-items: center;
}

.footer-logo {
    width: 200px;
}

.text-heading {
    font-weight: 500;
}

.bold-heading {
    font-weight: 600;
}

.btn-blue {
    background-color: #005f86;
    border-color: #005f86;
    color: #fff;
}

.btn-blue:hover {
    background-color: #004d6d;
    color: #fff;
}

.dropdown {
    color: #343a40!important;
    cursor: pointer;
}

.dropdown:hover {
    color: #343a40!important
}

.nav-item {
    color: #606060;
    font-weight: 500!important;
}

.nav-item:hover {
    color: #090909;
}

.nav-active {
    color: #F2A900;
}

.nav-active:hover {
    color: #F2A900;
}

.pricing-feature {
    display: inline-block;
}

.navbar-fixed {
    background-color: #FFFDFD;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}