/*COLOUR PALLETE
    #fffdfd Background Colour
    #F2A900 Logo Colour
    #343A40 Contact Button Colour
    #F8F9FA Footer Topper Colour
    #EBECED Footer Buttom Colour
    #F2A900 Link Hover Colour
    Inter | Font
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fffdfd;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*All Main CSS Code*/

main {
    flex: 1 0 auto;
}

.bg-primary {
    background-color: #FF623F!important;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Heading Code*/

.text-heading {
    font-weight: 500;
}

.bold-heading {
    font-weight: 600;
}

.product-heading {
    font-weight: 600;
    margin-bottom: 15px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All nav Code*/

.nav-item {
    color: #606060;
    font-weight: 500!important;
}

.nav-item:hover {
    color: #090909;
}

.nav-active {
    color: #F2A900;
}

.nav-active:hover {
    color: #F2A900;
}

.navbar-image {
    width: 200px;
}

.navbar-image {
    width: 200px;
}

.nav-item {
    color: #606060;
    font-weight: 500!important;
}

.nav-item:hover {
    color: #090909;
}

.nav-active {
    color: #F2A900;
}

.nav-active:hover {
    color: #F2A900;
}

.navbar-fixed {
    background-color: #FFFDFD;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All anker Code*/

a {
    text-decoration: none!important;
}

.contact a {
    color: #000;
}

.contact a:hover {
    color: #F2A900;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Language Code*/

.language-button {
    border: 0;
    background-color: transparent;
}

.language-flag {
    max-height: 22px;
    margin-right: 10px;
    align-items: center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Button Code*/

.button-icon {
    margin-top: -2px;
    height: 22px;
    width: 22px;
}

.btn-blue {
    background-color: #005f86;
    border-color: #005f86;
    color: #fff;
}

.btn-blue:hover {
    background-color: #004d6d;
    color: #fff;
}

.btn-orange {
    background-color: #F2A900;
    border-color:#F2A900;
    color: #fff;
}

.btn-orange:hover {
    background-color: #F2A900;
    border-color:#F2A900;
    color: #fff;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All selection Code*/

::selection {
    color: #3d2a00;
    background: #ffe19c;
}

.section-margin {
    padding-top: 100px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Dropdown Code*/

.dropdown {
    color: #343a40!important;
    cursor: pointer;
}

.dropdown:hover {
    color: #343a40!important
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Media Code*/
/*All 993px Code*/
@media only screen and (min-width : 992px) {
    .address-spacing {
        margin-left: 33px;
    }
}

@media only screen and (min-width : 992px) {
    .landing-hero {
        padding-top: 112px;
    }
}

@media only screen and (min-width : 992px) {
    .contact-hero {
        padding-top: 150px;
    }
}

@media only screen and (min-width : 992px) {
    .products-hero {
        padding-top: 105px;
    }
}

/*All 320px Code*/
@media only screen and (min-width : 320px) {
    .landing-hero {
        padding-top: 130px;
    }
}


@media only screen and (min-width : 320px) {
    .products-hero {
        padding-top: 195px;
    }
}

@media only screen and (min-width : 320px) {
    .contact-hero {
        padding-top: 195px;
    }
}

@media only screen and (min-width : 320px) {
    .pricing-hero {
        padding-top: 200px;
    }
}

/*All 767px Code*/
@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Icons Code*/

.business-icon {
    width: 28px;
    height: 28px;
}

.twitter-icon {
    width: 18px;
    height: 18px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Pricing Code*/

.pricing-feature {
    display: inline-block;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All Contact info Code*/

.address-details {
    margin-bottom: 0;
}

.contact-details {
    margin-bottom: 12px;
}

.email-class {
    margin-bottom: 4px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*All footer Code*/

footer {
    flex-shrink: 0;
    width: 100%;
}

footer a {
    color: #6c757d;
}

footer a:hover {
    color: #F2A900;
}

.footer-logo {
    width: 200px;
}